
 Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
pip-wheel-metadata/

# VSCode settings
.vscode/

# mypy
.mypy_cache/

# Rust and Cargo (just in case)
.cargo/
.rustup/

# Python environment files
*.db
*.sqlite3
.env
*.log

# OS stuff
.DS_Store
Thumbs.db

similarity_check/
